<div class="container">
	<div class="home">
		<a href="/">Home</a>
	</div>
	<div class="col-md-12">
		<div class="pic">
			<%= image_tag @user.image, class: "user-img img-circle" %>
		</div>
		<div class="info">
			<div class="name">
				<p><%= @user.name %></p>
			</div>

			<div class="row">
				<div class="col-md-4 spacer">
					<div>
						<h4>Phone:</h4>
						<p><%= @user.phone %></p>
						<h4>e-mail:</h4>
						<p><%= @user.email %></p>
						<h4>I speak: </h4>
						<% @user.languages.each do |language| %>
							<p><%= language %></p>
						<% end %>
					</div>
				</div>
				<div class="col-md-4 spacer">
					<div>
						<h4>About me:</h4>
						<p><%= @user.about %></p>
					</div>
				</div>
				<% unless @user.street.nil? || @user.city.nil? || @user.zip.nil? || @user.state.nil? %>
					<div class="col-md-4 spacer">
						<div>
							<h4>Address:</h4>
							<p><%= @user.street %></p>
							<p><%= @user.city %> <%= @user.zip %></p>
							<p><%= @user.state %></p>
						</div>
					</div>
				<% end %>
			</div>
			<div class="row">
				<div class="col-md-12 spacer">
					<div>
						<h2>Awards</h2>
						<% @user.awards.each do |award| %>
							<div>
								<h4><%= award.description %></h4>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 spacer">
					<div>
						<h2>Recommendations</h2>
						<% @user.recommendations.each do |recommendation| %>
							<div>
								<h4><%= recommendation.name %></h4>
								<p><%= recommendation.position %></p>
								<p><%= recommendation.description %></p>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 spacer">
					<div>
						<h2>Work Experiences</h2>
						<% @user.work_experiences.each do |experience| %>
							<div>
								<h4><%= experience.company_name %></h4>
								<p><%= experience.title %></p>
								<p><%= experience.start_date %>-<%= experience.end_date %></p>
								<p><%= experience.description %></p>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 spacer">
					<div>
						<h2>Educations/Certifications/Trainings</h2>
						<% @user.educations.each do |education| %>
							<div>
								<h4><%= education.field_of_study %></h4>
								<p><%= education.school %></p>
								<p><%= education.year %></p>
								<p><%= education.description %></p>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 spacer">
					<div>
						<h2>Projects</h2>
						<% @user.projects.each do | project| %>
							<div>
								<h4><%=  project.name %></h4>
								<p><%= project.role %></p>
								<p><%= project.description %></p>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 spacer">
					<div>
						<h2>Skills</h2>
						<% @user.skills.each do |skills| %>
							<div>
								<h4><%= skills.name %></h4>
								<p><%= skills.level %></p>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 spacer">
					<div>
						<h2>Others</h2>
							<h4><%=  @user.others %></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>